.movies {
  box-sizing: border-box;
}

.more-movies-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -90px;
  margin-bottom: 80px;
}

.more-movies-button__title {
  width: 320px;
  height: 36px;
  border-radius: 6px;
  background: #f4f4f4;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2em;
  border: none;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.more-movies-button__title:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 360px) {
  .more-movies-button__title {
    width: 240px;
  }
}