.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.profile__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__welcome {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2em;
  margin: 70px auto 123px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 410px;
  gap: 17px;
}

.profile__field {
  display: flex;
  justify-content: space-between;
}

.profile__field:first-of-type {
  border-bottom: 1px solid #e8e8e8;
}

.profile__placeholder {
  font-size: 11px;
  font-weight: 500;
  line-height: 1.2em;
}

.profile__input {
  text-align: right;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 0 0 16px;
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
}

.profile__input:focus {
  outline: none;
}

.profile__button {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2em;
  background: #fff;
  border: none;
  margin: 190px auto 15px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.profile__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.profile__button-save {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2em;
  margin-top: 106px;
  border-radius: 3px;
  background: #3456f3;
  width: 396px;
  height: 45px;
  border: 0;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.profile__button-save:hover {
  opacity: 0.7;
  cursor: pointer;
}

.profile__button-save_error {
  background: #f8f8f8;
  color: #c2c2c2;
}

.profile__error-message {
  color: #ff004c;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0 auto;
}

.profile__link {
  color: #ee3465;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2em;
  text-decoration: none;
  margin: 0 auto 70px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.profile__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .profile__welcome {
    margin: 225px auto 96px;
  }

  .profile__button {
    margin: 180px auto 15px;
  }
}

@media screen and (max-width: 760px) {
  .profile__welcome {
    margin: 60px auto 83px;
  }

  .profile__button {
    margin: 345px auto 15px;
  }

  .profile__form {
    width: 260px;
  }
}
